.headerContainer {
  background-color: var(--blue-200);
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrappedContent {
  width: 300px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrappedContent span {
  width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.wrappedContent p {
  padding: 0.5rem;
  font-weight: 700;
  color: var(--blue-400);
  cursor: pointer;
}

@media (min-width: 760px) {
  .wrappedContent {
    width: 500px;
  }
}

@media (min-width: 900px) {
  .wrappedContent {
    width: 850px;
  }
}
