.container {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  max-width: 320px;
  margin: 0 auto;
  align-items: center;
  overflow: auto;
  height: calc(100vh - 60px);
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.containerCard {
  width: 300px;
}

.noChildrenData {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.noChildrenDataTitle {
  text-align: center;
  font-weight: 400;
  padding: 1rem;
  font-size: 1rem;
}

.registerChildButton {
  width: 200px;
}

.circularProgressContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.circularProgress {
  color: var(--blue-200);
}

.skeletonComponent {
  width: 300px;
  font-size: 95px;
}

@media (min-width: 760px) {
  .noChildrenData {
    grid-column: 1 / -1;
    height: 50vh;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: normal;
    max-width: 750px;
    grid-auto-rows: min-content;
  }

  .circularProgressContainer {
    grid-column: 1 / -1;
  }

  .containerCard {
    width: 350px;
  }

  .skeletonComponent {
    width: 350px;
  }
}

@media (min-width: 1024px) {
  .container {
    display: grid;
    justify-content: center;
  }
}

@media (min-width: 1440px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1200px;
  }
}
