.container {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  max-width: 320px;
  margin: 0 auto;
  align-items: center;
  overflow: auto;
  height: calc(100vh - 60px);
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.containerCard {
  width: 300px;
}

@media (min-width: 760px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: normal;
    max-width: 750px;
    grid-auto-rows: min-content;
  }

  .containerCard {
    width: 350px;
  }
}

@media (min-width: 1024px) {
  .container {
    display: grid;
    justify-content: center;
  }
}

@media (min-width: 1440px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1200px;
  }
}
