.modalContainer {
  background-color: transparent;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  display: flex;
  z-index: 99999;
  overflow: auto;
}

.modalContentWrapped {
  width: 300px;
  background-color: var(--gray-100);
  height: 80vh;
  border-radius: 8px;
  overflow: auto;
}

.modalContentWrapped::-webkit-scrollbar {
  width: 10px;
  display: none;
}

.modalContentWrapped::-webkit-scrollbar-thumb {
  width: 5px;
  display: none;
}

.closeButtonContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.closeIcon {
  cursor: pointer;
  margin-top: 0.75rem;
  margin-right: 0.75rem;
  color: var(--blue-400);
}

.arrowIcon {
  cursor: pointer;
  margin-top: 0.75rem;
  margin-left: 0.75rem;
  color: var(--blue-400);
}

.registerInformationText {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.5rem;
  gap: 0.5rem;
}

.registerTitle {
  font-size: 1.25rem;
  color: var(--gray-600);
}

.registerDescription {
  font-size: 1rem;
  text-align: center;
  color: var(--gray-600);
}

.formContainer {
  min-height: calc(100% - 162px);
  padding: 0 20px;
  margin-top: 2rem;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.noPicture {
  display: flex;
  border-radius: 6px;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.imageSelected {
  width: 100%;
  height: auto;
  border-radius: 6px;
}

.containerButtons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.75rem;
}

.containerFileButton {
  display: 'flex';
  align-items: 'center';
  justify-content: 'center';
  flex-direction: column;
}

.chooseFileLabel {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: var(--blue-400);
  font-size: 14px;
  border: 2px solid var(--blue-400);
  cursor: pointer;
  height: 100%;
  border-radius: 4px;
}

.chooseFileButton {
  width: 0px;
  display: none;
}

.containerButtons div {
  width: 100px;
}

.registerButtonContainer {
  margin-bottom: 0.75rem;
}

@media (min-width: 760px) {
  .modalContentWrapped {
    width: 500px;
  }

  .registerInformationText {
    padding: 0 70px;
  }

  .formContainer {
    padding: 0 50px;
  }

  .imageSelected {
    height: auto;
  }

  .containerButtons div {
    width: 180px;
  }
}
