.modalBg {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  display: flex;
  z-index: 99999;
  overflow: auto;
}

.modalBody {
  width: 300px;
  background-color: var(--gray-100);
  height: 80vh;
  border-radius: 8px;
  overflow: auto;
}

.closeButtonContainer {
  display: flex;
  justify-content: flex-end;
  padding: 1rem 1rem 0rem 0rem;
}

.closeIcon {
  cursor: pointer;
  color: var(--blue-400);
}

.modalContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imgContainer {
  background-color: black;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.responsibleImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.containerInfo {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.responsibleName {
  font-size: 1.2rem;
  color: var(--gray-600);
  font-weight: bold;
  text-align: center;
  margin-bottom: 0.5rem;
}

.responsibleStats {
  color: var(--gray-600);
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  width: 100%;
  padding: 0 1rem;

  & span {
    font-weight: bold;
  }

  & p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.childrenListContainer {
  margin: 1rem;
}

.childrenListTitle {
  font-size: 1rem;
  color: var(--gray-600);
  font-weight: bold;
  margin-bottom: 1rem;
}

.childrenList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.childCard {
  background-color: #fff;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.1);
}

.childPictureContainer {
  width: 60px;
  height: 60px;
  min-width: 60px;
  border-radius: 50%;
  overflow: hidden;
  background-color: black;
}

.childPicture {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.childInfo {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  color: var(--gray-600);
  overflow: hidden;

  & p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
  }

  & span {
    font-weight: bold;
  }
}

.childNameText {
  font-weight: bold;
  font-size: 1rem !important;
  color: var(--gray-600);
}

.notFoundChildren {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  & p {
    text-align: center;
    font-size: 14px;
    color: var(--gray-600);
  }
}

@media (min-width: 760px) {
  .modalBody {
    width: 600px;
  }

  .modalBody::-webkit-scrollbar {
    width: 10px;
    display: none;
  }

  .modalBody::-webkit-scrollbar-thumb {
    width: 5px;
    display: none;
  }

  .modalContent {
    flex-direction: row;
    align-items: flex-start;
    gap: 1rem;
    padding: 0 1rem;
  }

  .imgContainer {
    width: 180px;
    height: 180px;
    min-width: 180px;
    margin: 0;
  }

  .containerInfo {
    align-items: flex-start;
    margin: 0;
    flex-grow: 1;
  }

  .responsibleName {
    font-size: 1.7rem;
    text-align: left;
  }

  .responsibleStats {
    margin-top: 0.5rem;
    font-size: 1rem;
    padding: 0;
  }

  .childCard {
    gap: 1.5rem;
    padding: 0.75rem;
  }

  .childPictureContainer {
    width: 70px;
    height: 70px;
    min-width: 70px;
  }

  .childInfo {
    & p {
      font-size: 1rem;
    }
  }
}

@media (min-width: 1024px) {
  .modalBody {
    width: 800px;
  }

  .imgContainer {
    width: 200px;
    height: 200px;
    min-width: 200px;
  }

  .modalContent {
    gap: 2.5rem;
  }

  .childrenList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}
