.modalBg {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  display: flex;
  z-index: 99999;
  overflow: auto;
}

.modalBody {
  width: 300px;
  background-color: var(--gray-100);
  height: 80vh;
  border-radius: 8px;
  overflow: auto;
}

.childName {
  font-size: 1rem;
  color: var(--gray-600);
}

.imgContainer {
  background-color: black;
  max-height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0rem 1rem;
  border-radius: 0.5rem;
}

.childImg {
  width: 100%;
  max-height: 250px;
  border-radius: 6px;
  object-fit: contain;
}

.closeButtonContainer {
  display: flex;
  justify-content: flex-end;
  padding: 1rem 1rem 0rem 0rem;
}

.closeIcon {
  cursor: pointer;
  color: var(--blue-400);
}

.containerInfo {
  margin: 0rem 1rem;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.childStats {
  color: var(--gray-600);
  margin-top: 0.5rem;
  font-size: 14px;
  & span {
    font-weight: bold;
  }
}

.status {
  display: flex;
  gap: 0.3rem;
}

.active,
.inactive {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  font-weight: 400;
}

.active::before {
  display: block;
  content: '';
  width: 8px;
  height: 8px;
  background-color: green;
  border-radius: 50%;
}

.inactive::before {
  display: block;
  content: '';
  width: 8px;
  height: 8px;
  background-color: red;
  border-radius: 50%;
}

.responsibleListContainer {
  margin: 1rem;
}

.notFoundResponsibles {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  & p {
    text-align: center;
    font-size: 14px;
  }
}

.responsiblesContainer {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.responsibleCard {
  background-color: #fff;
  border-radius: 8px;
  height: 400px;
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.1);
  overflow: auto;
}

.responsiblePictureContainer {
  background-color: #fff;
  display: flex;
  border-radius: 8px;
  justify-content: center;
  padding: 0.5rem;
  align-items: center;
}

.responsiblePicture {
  width: 100%;
  max-height: 200px;
  background-color: black;
  border-radius: 8px;
  object-fit: cover;
}

.responsibleInfo {
  margin: 0rem 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  color: var(--gray-600);

  & p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  & span {
    font-weight: bold;
  }
}

.responsibleName {
  font-weight: bold;
  color: var(--gray-600);
}

.infoButtonContainer {
  padding: 0.5rem;
}

@media (min-width: 760px) {
  .notFoundResponsibles {
    width: 400px;
    margin: 1rem auto;
    height: 150px;
    justify-content: space-between;
    padding-top: 2rem;
  }

  .registerResponsibleButton {
    width: 200px;
  }

  .modalBody {
    width: 600px;
  }

  .modalBody::-webkit-scrollbar {
    width: 10px;
    display: none;
  }

  .modalBody::-webkit-scrollbar-thumb {
    width: 5px;
    display: none;
  }

  .modalContent {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
  }

  .imgContainer {
    width: 300px;
    margin: 0 0 0 1rem;
  }

  .containerInfo {
    margin: 0 1rem 0 0;
    flex-grow: 1;
  }

  .childName {
    font-size: 1.7rem;
  }

  .childStats {
    margin-top: 1.5rem;

    font-size: 1rem;
    & span {
      font-weight: bold;
    }
  }

  .responsibleCard {
    display: flex;
    height: auto;
    gap: 1rem;
  }

  .responsiblePictureContainer {
    width: 250px;
  }

  .responsiblePictureContainer {
    display: block;
  }

  .responsibleInfo {
    display: block;
    margin: 0.5rem 0rem 0rem 0rem;

    & p:nth-of-type(2) {
      margin-top: 1rem;
    }

    & span {
      font-size: 1rem;
    }
  }

  .responsibleWrap {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 1rem;
    padding-right: 0.5rem;
  }

  .infoButtonContainer {
    padding: 0px;
  }

  .responsibleName {
    font-size: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .modalBody {
    width: 800px;
  }

  .imgContainer {
    width: 400px;
  }

  .modalContent {
    gap: 2.5rem;
  }

  .responsiblePictureContainer {
    width: 300px;
  }

  .responsibleCard {
    gap: 2rem;
  }
}
