.childrenContainer {
  padding: 0.5rem;
}

.childrenTitleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 1rem;
  max-width: 1000px;
}

.childrenTitle {
  font-size: 1rem;
  font-weight: 600;
}

.childrenList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: calc(100vh - 129px);
  overflow-y: auto;
}

@media (min-width: 760px) {
  .childrenList {
    display: grid;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: min-content;
    gap: 1rem;
    height: calc(100vh - 129px);
    max-width: 750px;
  }
}

@media (min-width: 1000px) {
  .childrenList {
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1000px;
  }
}
